@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gói Dịch Vụ Sinh</h1>
    <p class="lead">DỊCH VỤ THAI SẢN VÀ SINH CON TRỌN GÓI</p>
    <p><a href="https://benhvienthucuc.com/" class="btn btn-primary btn-lg">Xem thêm tùy chọn khác &raquo;</a></p>
</div>

<div class="row">
    @*<div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>*@

    <div class="col-md-4">
        <h2>ĐẶT LỊCH KHÁM</h2>
        <p>
            Chỉ 1 bước đơn giản <br>
            Không mất thời gian chờ đợi
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Xem thêm &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>BẢO HIỂM Y TẾ</h2>
        <p>
            Áp dụng đúng quy định nhà nước<br>
            Thủ tục nhanh gọn.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>GIỜ LÀM VIỆC</h2>
        <p>
            Cơ sở 1: Bệnh viện ĐKQT Thu CúcTừ 6:30 - 17:00 <br>
            Cơ sở 2: Phòng khám ĐKQT Thu Cúc Từ 7:00 – 17:00
        </p>
    </div>
</div>